<nav id="statistics">
  <a>Average Age: <%= @avg_age %></a>
</nav>
<% @astronauts.each do |astronaut| %>
  <section id="astronaut-<%= astronaut.id %>">
    <p><%= astronaut.name %></p>
    <p><%= astronaut.age %></p>
    <p><%= astronaut.job %></p>
    <p><%= astronaut.total_time_in_space %></p>
    <% astronaut.missions.each do |mission| %>
    <p><%= mission.title %></p>
    <% end %>
  </section>
<% end %>
